body{
 margin:auto;
 
}
.container{
    /* text-align: center; */
    margin-right: 25%;
    margin-left: 25%;
    background-color:whitesmoke;
}

h1{

    text-align: center;
font-size: 30px;
font-family: 'Oswald', sans-serif;
background-color:lightseagreen;
}

.exofont{
    margin-left: 5px;
    font-size: 25px;
    font-family: 'Exo', sans-serif;
}

.inp{
    padding-left: 8px;
    height: 25px;
    border-radius: 10px;
    border: 1px grey solid;
    
}

#right{
    float: right;
    display: flex;
}

.but{
    /* border: 2px solid grey; */
    /* border: none; */
    /* background-color: white; */
    color:white;
    /* padding: 0; */
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 10px;
    width: 50%;
    border-radius: 20PX;
    background-color: #008CBA;
    
    cursor:pointer;
    margin-left: 150px;


}
footer{
    background-color:gray;
    height: 20px;
}
